@font-face {font-family: "Neue Kabel W01 Black";
	src: url("../fonts/0ef5c927253f0c37b54e6f94cd732784.eot"); /* IE9*/
	src: url("../fonts/0ef5c927253f0c37b54e6f94cd732784.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../fonts/0ef5c927253f0c37b54e6f94cd732784.woff2") format("woff2"), /* chrome、firefox */
	url("../fonts/0ef5c927253f0c37b54e6f94cd732784.woff") format("woff"), /* chrome、firefox */
	url("../fonts/0ef5c927253f0c37b54e6f94cd732784.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("../fonts/0ef5c927253f0c37b54e6f94cd732784.svg#Neue Kabel W01 Black") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "DINNextW1G";
  src: url("../fonts/DINNextW1G.otf");
}

@font-face {font-family: "questrial";
  src: url("../fonts/questrial.ttf") format("truetype");
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-primary)
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-nav);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-nav-hover);
  }

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none; 
}

a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0.5em 0;
    color: black;
}

em, strong {
    font-style: normal;
    font-weight: normal;
}

:root {
    --color-primary: #032a52;
    --color-secondary: #ffffff;
    --color-background: #ffffff;
    --color-text: #efefef;
    --color-nav: #7de05f;
    --color-nav-hover: #a1ec8a;
    --border-radius: 10px;
}

.fa-primary {
    color: var(--color-primary);
}

.fa-secondary {
    color: var(--color-secondary);
}

h1, h2 {
    font-family: "Neue Kabel W01 Black";
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p, a, span, label, em, td, th, ul, legend, caption, placeholder {
    font-family: "DINNextW1G";
}

p {
    text-align: justify;
}

img, iframe {
    border-radius: var(--border-radius);
}

header {
    top: 0;
    height: 124px;
    position: absolute;
    width: 100%;
    z-index: 100;
}

#logo-group {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #fbf7ce;
}

#logo {
    height: 100%;
    margin: 0 1em;
}

#navbar {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

#checkNav {
    display: inline-block;
    width: 100vw;
    height: 80px;
    opacity: 0;
    cursor: pointer;
}

#checkNavSpan {
    content: "";
    display: inline-block;
    position: absolute;
    left: calc(50%);
    width: 10px;
    height: 80px;
    border-radius: var(--border-radius);
    background-color: var(--color-nav);
    transform-origin: bottom;
    transform: rotate(45deg);
    z-index: -1;
}

#checkNavSpan::before {
    content: "";
    top: -4px;
    left: 4px;
    display: inline-block;
    position: absolute;
    width: 10px;
    height:100%;
    border-radius: var(--border-radius);
    background-color: var(--color-nav);
    transform-origin: bottom;
    transform: rotate(-90deg);
}

header #checkNav:checked ~#checkNavSpan {
    transition: all 1s ease-in-out;
    transform-origin: bottom;    
    transform: rotate(225deg) translateY(50px) translateX(40px);
}

header #checkNav:checked ~ul > li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header #checkNav:not(:checked) ~ul > li:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
}

header #checkNav:not(:checked) ~ul > li:first-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
}

#navbar ul li {
    width: 100%;
    display: flex;
    justify-content: center;
}

#navbar ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navbar ul li span {
    width: 100%;
    display: none;
}

#navbar ul {
    background-color: var(--color-nav);
    width: 100%;    
    /*height: 50px;*/    
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;     
    padding: 0;    
    transition: all ease-in-out 0.5s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


#navbar ul li {
    transition: all ease-in-out 0.5s;
}

#navbar ul ul {
    display: none;
}

header section {
    padding-top: 100px;
}

.article-title {
    text-align: left;
    padding: 0 1em;
}

.articleBody ul {
    list-style: inside;
    margin-bottom: 0.5em;
}

.articleBody h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#mostRead {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
    margin-top: 2em;
    background-color: var(--color-nav);
    border-radius: var(--border-radius);
}

#mostRead a{
    padding: 1em;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: 0.5s ease-in-out all; 
    -moz-transition: 0.5s ease-in-out all; 
    -webkit-transition: 0.5s ease-in-out all;
}


#mostRead a:hover{
    background-color: var(--color-nav-hover);
}

#mostRead .article-title {
    width: 100%;
}

main {
    padding: 0 2em;    
    max-width: 890px;
    margin: 0 auto;
    margin-top: 14em;
}

main picture {
    width: 100%;
    display: flex;
}

main picture img {
    width: 100%;
    margin: 50px auto;
}

#share {
    margin-top: 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#share h2 {
    margin: 0;
}

.comment-infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    margin-bottom: 1em;
}

.comment-user {
    display: flex;
    align-items: center;
}

.comment-user img {
    height: 30px;
    border-radius: 100%;
}

.comment-user .pseudo {
    margin: 0 1em;
}

#navbar > ul > li {
    height: auto;
}

#nav-blog {
    display: flex;
    flex-direction: column;
}

#blog {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#articles {
    display: flex;
    flex-direction: column;
}

#articles a {
    padding-left: 3em;
}

.icon {
    width: 3em;
    height: 3em;    
}

.section-content {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.section-content img, .section-content iframe {
    width: 100%;
    margin-bottom: 1em;
}

footer {
    margin-top: 2em;
    padding: 2em;
    background-color: var(--color-nav);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h2 {
    margin-bottom: 1em;
    text-align: center;
}

footer a {
    padding: 0;
}

footer .last-article {
    padding: 1em;
}

footer .last-article span {
    width: 90%;
    padding-right: 0;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
}

footer address {
    display: flex;
    flex-direction: column;
}

footer p {
    margin-top: 1em;
}

footer div ul a {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: 0.5s ease-in-out all; 
    -moz-transition: 0.5s ease-in-out all; 
    -webkit-transition: 0.5s ease-in-out all;
}

footer div ul a:hover {
    background-color: var(--color-nav-hover);
}

/*FORMS*/

form {
    margin-top: 2em;
}

form fieldset {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    margin-top: 2em;
    border-radius: var(--border-radius);
    border-color: var(--color-primary);
}

form fieldset input{
    width: 100%;
    border: none;
    outline: none; 
    user-select: none;
}

form fieldset textarea{
    border-radius: var(--border-radius);
    padding: 1em;
    resize: none;
    border-color: var(--color-primary);
    outline-color: var(--color-nav);
}

button {
    margin-top: 2em;
}

.input-group input {
    border-left-style: solid;
    border-left-width: 3px;
    border-color: var(--color-primary);
    padding-left: 5px;
}

.input-group {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    max-width: 20em;
}

.input-group label {
    color:var(--color-primary); 
    position:relative;
    pointer-events:none;
    user-select: none;
    bottom: 1em;
    left: 0.5em;
    transition: 0.5s ease-in-out all; 
    -moz-transition: 0.5s ease-in-out all; 
    -webkit-transition: 0.5s ease-in-out all;
}

.input-group input:focus ~label,
.input-group input:not(:placeholder-shown) ~label
{
    bottom: 2.5em;
}

.barre 	{ position:relative; display:block; width:100%; }
.barre::before	{
  content:'';
  height:2px; 
  width:0;
  position:absolute;
  background:var(--color-nav); 
  transition: 0.5s ease-in-out all; 
  -moz-transition: 0.5s ease-in-out all; 
  -webkit-transition: 0.5s ease-in-out all;
}

.check-group {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    max-width: 20em;
}

.check-group input {
    width: auto;
}

.message {
    display: flex;
    flex-direction: column;
}

#comments {
    margin: 0 2em;
    margin-top: 2em;
    padding: 2em;
    border-radius: var(--border-radius);
    background-color: gray;
}

.comment {
    margin: 2em 0;
    padding: 2em;
    border-radius: var(--border-radius);
    background-color: whitesmoke;
}

.comment:last-child {
    margin-bottom: 0;
}


/* active state */
input:focus ~ .barre:before, input:focus ~ .barre:after {
  width:100%;
}


/*JS*/

.active {
    background-color: var(--color-nav-hover);
}

/*ACTIONS*/

#navbar ul li:hover {
    background-color: var(--color-nav-hover);
}

#navbar ul li ul li:hover {
    background-color: var(--color-nav-hover);
}

header #checkNav:checked ~ul {
    flex-direction: column;
}

header #checkNav:checked ~ul > li {
    justify-content: flex-start;  
}

header #checkNav:checked ~ul > li > span {
    display: inline;
}

header #checkNav:checked #blog {
    justify-content: flex-start;
}

header #checkNav:checked ~ul li span {
    display: inline;
}

header #checkNav:checked ~ul ul {
    display: inline;
}

header #checkNav:checked ~ul {
    animation: derouler 1s;
}

header #checkNav:checked ~ul {
    animation: derouler 1s;
}

header #checkNav:checked ~ul .icon {
    margin-left: 2em;
}

@keyframes derouler {
    from {
        transform: translateY(calc(-100% + 3em));
    }
    to {
        transform: translateY(0%);
    }
}

/*RESPONSIVE*/

@media screen and (min-width: 920px) {
    #checkNav, #checkNavSpan {
        display: none;
    }

    #navbar ul {        
        flex-direction: row;
    }

    #navbar ul ul {    
        width: 16.7%;  
        position: absolute;
        display: flex;
        flex-direction: column; 
        opacity: 0;
        transition: all ease-in-out 0.5s;
        transform: translateY(-100%);
        z-index: -1;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    #navbar ul ul li:last-child {    
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #navbar ul li span {
        display: inline;
    }

    #navbar > ul > li:hover ul {
        opacity: 100;
        transform: translateY(0);
    }

    #navbar ul li ul li:hover {
        background-color: var(--color-nav-hover);
    }

    header .icon {
        margin-left: 1em;
    }

    #articles a {
        padding-left: 0;
    }

    header #checkNav:checked ~ul {
        flex-direction: row;
    }    

    header #checkNav:checked ~ul > li:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 10px;
    }

    #navbar > ul > li:last-child {
        border-bottom-right-radius: 10px;
    }

    #navbar > ul > li:first-child {
        border-bottom-left-radius: 10px;
    }

    main {
        max-width: 100%;
        margin-top: 124px;
        padding-top: 2em;
    }    

    #aside-group {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #aside-group article {
        padding-right: 5em;
    }

    #aside-group article .intro-pic {
        max-width: 50em;
        margin: 0 auto;
    }

    #mostRead {
        width: 20em;
        margin-top: 0;
    }

    main picture img {
        padding: 0 50px;
    }

    .section-content {
        flex-direction: row;
    }
    
    .section-content img, .section-content iframe {
        max-width: 33vw;
        margin-right: 1em;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    footer address {
        align-items: flex-start;
    }
}

